{% extends "base.html" %}

{% block title %}
    <title>About Page</title>
    {% endblock  %}

    {% block h1 %}
    <div class="container">
        <div class="jumbotron">
            <p style="font-size:25px;color:green"><b>Python is a programming language that lets you<br> work more quickly and integrate your systems<br> more effectively.</b></p>

               <p> You can learn to use Python and see almost immediate<br> gains in productivity and lower maintenance costs.</p>
               <p style="color:green;"> Learn more about Python.</p>
        </div>
    </div>
    
    {% endblock h1 %}