{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock  %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
      {% include "partial/_topbar.html" %}
      {% include "partial/_navbar.html" %}
      
    {% block h1 %}
    <div class="container">
        <div class="jumbotron">
            <h1>Python is amazing</h1>
            <img src="{% static 'image/py.png' %}" alt="no image found" height="80" width="130">
        </div>
    </div>
    {% endblock h1 %}
    {% include "partial/_python.html" %}
    
</body>
</html>