<div class="container">
    <ul class="nav">
        <li class="nav-item">
          <a style="color: black;" class="nav-link active" href="{% url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" href="{% url 'myapp:about'%}">About</a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" href="{% url 'myapp:download'%}">Download</a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" href="{% url 'myapp:document'%}">Document</a>
        </li>
      </ul>
  </div>